* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  margin: 20px;
}
img {
  max-width: 100%;
  height: auto;
}



/* header styles */

header h1 {
  color: white;
  font-size: 16px;
}

/* logo */
.logo {
  width: 150px;
  height: auto;
  display: flex;
  align-items: center;
}

/* nav-menu */
/* Mobile menu styles */

.humburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.nav-container {
  display: flex;
  align-items: center;
}

/* Off-screen-menu */
.off-screen-menu {
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;right: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  transition: 0.4s ease;
  background-color: white;
}

.off-screen-menu.active {
  right: 0;
}

.list-items {
  text-decoration: none;
  list-style: none;
}

/* burger menu styles */

nav {
  padding: 1rem;
  display: flex;
  align-items: center;
  line-height: 2rem;
}

nav a {
  text-decoration: none;
}

.ham-menu {
  height: 50px;
  width: 50px;
  margin-left: auto;
  position: relative;
}

.ham-menu span {
  height: 5px;
  width: 80%;
  background-color: black;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

/* Styles for the ham menu when it's active */

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Responsive styles */
@media (min-width: 756px) {
  .off-screen-menu {
    display: flex; 
    position: static; 
    height: auto;
    max-width: none;
    flex-direction: row; /* Arrange items in a row */
    justify-content: flex-start;
    background-color: transparent; /* Remove background color for larger screens */
    transition: none; /* Disable transitions for larger screens */
  }

    .header-navigation {
        display: flex;
        flex-direction: row-reverse;
        justify-content: baseline;
        padding: 10px 20px;
        text-decoration: none;
    }

  .off-screen-menu ul {
    display: flex;
    gap: 20px;
    min-width: 570px;
  }

  .off-screen-menu ul li a {
    font-size: 1rem;
    color: black;
    text-decoration: none;
    padding: 10px;
  }

   /* Styling the links on hover */

.off-screen-menu ul li a:hover {
  background-color: #fb3b24;
  color: #fff;
  border-radius: 5px;
}

/* Hide the humburger menu on larger screens */

.ham-menu {
  display: none;
}
}

/* Main */

.welcom-to {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding-bottom: 20px;
}
.about-service {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.cta-button {
  display: block;
  margin: 20px auto; 
  padding: 24px 24px; 
  font-size: 16px; 
  color: #fff; 
  background-color: #fb3b24; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; /* Changes cursor to pointer on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds subtle shadow */
}

.cta-button:hover {
  background-color: #ff5722; 
  transform: scale(1.05); /* Slight zoom effect */
}

.choose-catering{
  display: flex;
  margin: 20px 0 20px 0;
  color: orangered;
  justify-content: center;
  align-items: center;
}
.coose-container{
 display: flex; 
  flex-wrap: wrap; 
  gap: 24px; 
  justify-content: center; 
  padding: 16px; 
}




/* Footer Styles */
/* General Footer Styles */
.footer {
  background-color: #222;
  color: #fff;
  padding: 40px 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: flex-start; */
  margin: o auto;
  padding: 20px;
  /* max-width: 1200px; */
  border-top: 1px solid #444;
}


.footer-logo img {
  /* keep logo white */
  filter: brightness(0) invert(1); 
  width: 150px; 
}

.footer-section {
  flex: 1;
  min-width: 200px;
  text-align: center;
  padding: 0 10px;
}
  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.info {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}


.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 8px;
}

.footer-links a:hover {
  color: orange;
}

.footer-icons {
  flex: 1;
  min-width: 200px;
  text-align: center;
  padding: 0 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size: 1.3em;
  margin-top: 60px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}

/* Tablet Screens and Larger */
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    /* align-items: flex-start; */
    text-align: left;
    padding: 0 64px;
  }

  .footer-logo {
    justify-content: flex-start;
  }

  .footer-section {
    max-width: 300px;
  }
}

/* Desktop Screens and Larger */

  .footer-logo img {
    width: 200px; /* Slightly larger logo for desktop */
  }

  .footer-section h3 {
    font-size: 24px;
  }

  .footer-links a {
    font-size: 16px;
  }

  .social-icons img {
    width: 40px;
    height: 40px;
  }


/* <!-- choose you service section --> */
.content-section{

}






